<nav #navbar>
    <div class="logo">
      <h4>Excellent English School</h4>
    </div>
    <ul #navLinks class="nav-links">
      <li><a #homeBtn (click)="goToHome()" >{{'navBar.HomeLink'|translate}}</a></li>
      <li><a #coursesBtn (click)="goToCourses()">{{'navBar.CoursesLink'|translate}}</a></li>
      <li><a #contactBtn (click)="goToContact()">{{'navBar.ContactUsLink'|translate}}</a></li>
      <li><a>{{'navBar.OnlineTestLink'|translate}}</a></li>
      <li>
        <select (change)="changeLang($event.target.value)">
        <option value="en" [selected]="lang=='en'">EN</option>
        <option value="ru" [selected]="lang=='ru'">RU</option>
        </select>
      </li>
    </ul>
    <div #burger (click)="navSlide()" class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </nav>