nav{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    transition: .5s;
    box-shadow: 1px 1px 1rem rgba(0,0,0,0.1);
}
.logo{
    opacity: 0;
    color: #77bb60;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2px;
    size: 20px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 60%;
}
.nav-links li{
    list-style: none;
}
.nav-links li select {
    background-color: transparent;
    appearance: none; 
    color: #77bb60;
    height: 100%;
    border: none;
    width: 2.5rem;
    padding: 5%;
    font-size: 15px;
    cursor: pointer;
}
.nav-links a{
    text-decoration: none;
    color: #77bb60;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    background-color: #3F3D56;
    width: 25px;
    height: 3px;
    margin: 5px;
}
a.disabled {
    pointer-events: none;
    cursor: default;
  }

@media screen and (max-width: 1200px){
    .nav-links{
       width: 60%;
    }
}
@media screen and (max-width: 900px){
    
    
    .nav-links{
       position: absolute;
       opacity: 0;
       right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #3F3D56;
        display: none;
        flex-direction: column;
        align-items: center;   
        width: 100%;
       
 }  
    .nav-links li{
        visibility: hidden;
        opacity: 0;
    }
    .burger{
        display: block;
    }
}
