    <div id="contact" class="contact-box">
        <div class="img-div">
            <img src="../../../assets/contact-page.svg" alt="">
        </div>
        <div class="info">
            <h2>Contact Us</h2>
            <input type="text" class="field" placeholder="Your Name">
            <input type="email" class="field" placeholder="Your Email">
            <input type="text" class="field" placeholder="Your Phone">
            <textarea class="field area" placeholder="Your Message" ></textarea>
            <button class="btn">Send Message</button>
    </div>
</div>