<div id="contact" class="contact-box">
        <div class="img-div">
            <img src="../../../assets/contact-page.svg" alt="">
        </div>
        <div class="info">
            <h2>{{'ContactUs.title'|translate}}</h2>
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">  
                <!--needed for netlify forms-->
                <input type="hidden" name="form-name" value="contact" />
                <!--needed for netlify forms-->
                <label>{{'ContactUs.nameLabel'|translate}}</label>
                <input formControlName="name"  [ngClass]="{'is-inavlid': submitted && h.name.errors}" type="text" class="field" placeholder="{{'ContactUs.name'|translate}}">
                <div class="validations" *ngIf="submitted && h.name.errors">
                    <small *ngIf="h.name.errors.required">name required</small>
                    <small *ngIf="h.name.errors.minlength">name is too short</small>
                </div>

                <label>{{'ContactUs.emailLabel'|translate}}</label>
                <input formControlName="email" [ngClass]="{'is-inavlid': submitted && h.email.errors}" type="email" class="field" placeholder="{{'ContactUs.email'|translate}}">
                <div class="validations" *ngIf="submitted && h.email.errors">
                    <small *ngIf="h.email.errors.required">name required</small>
                    <small *ngIf="h.email.errors.email">email not valid</small>
                </div>
                
                <label>{{'ContactUs.phoneLabel'|translate}}</label>
                <input formControlName="phone" [ngClass]="{'is-inavlid': submitted && h.phone.errors}" type="text" class="field" placeholder="{{'ContactUs.phone'|translate}}">
                <div class="validations"  *ngIf="submitted && h.phone.errors">
                    <small *ngIf="h.phone.errors.required">phone required</small>
                    <small *ngIf="h.phone.errors.minlength && !h.phone.errors.pattern">short phone number</small>
                    <small *ngIf="h.phone.errors.pattern">enter a number</small>
                </div>

                <label>{{'ContactUs.messageLabel'|translate}}</label>
                <textarea formControlName="message" [ngClass]="{'is-inavlid': submitted && h.message.errors}" class="field area" placeholder="{{'ContactUs.message'|translate}}" style="resize: none;"></textarea>
                <div class="validations" *ngIf="submitted && h.message.errors">
                    <small *ngIf="h.message.errors.required">message required</small>
                    <small *ngIf="h.message.errors.minlength">message is too short</small>
                </div>
                <button class="btn">{{'ContactUs.btn'|translate}}</button>
            </form>
            <div class="success-msg"*ngIf="submitted && success" >{{'ContactUs.successMessage'|translate}}</div>
        </div>
</div>