<footer>
    <div class="copy-right">
        <p>&copy; 2020 - Excellent English School</p>
    </div>
    <div class="social">
        <a href="#" class="links"><img src="../../../assets/fb-icon.svg" alt=""></a>
        <a href="#" class="links"><img src="../../../assets/youtube-icon.svg" alt=""></a>
        <a href="#" class="links"><img src="../../../assets/insta-icon.svg"></a>
        <a href="mailto:eeeschool@outlook.com" class="links"><img src="../../../assets/email-icon.svg"></a>
        <a href="tel:0660804903" class="links"><img src="../../../assets/phone-icon.svg" alt=""></a>
  </div>
</footer>