<footer>
    <div class="copy-right">
        <p>&copy; 2020 - Excellent English School</p>
    </div>
    <div class="social">

        <a href="#" class="links"><span><img src="../../../assets/fb-icon.svg" alt=""></span></a>
        <a href="#" class="links"><span><img src="../../../assets/youtube-icon.svg" alt=""></span></a>
        <a href="#" class="links"><span><img src="../../../assets/insta-icon.svg"></span></a>
        <a href="mailto:eeeschool@outlook.com" class="links"><span><img src="../../../assets/email-icon.svg"></span>eeeschool@outlook.com</a>
        <a href="tel:0660804903" class="links"><span><img src="../../../assets/phone-icon.svg" alt=""></span>0660804903</a>
  </div>
</footer>